.grid-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.grid-form-input {
  padding-right: 20px;
}

.grid-form-input-field {
  width: 60px;
  margin-left: 5px;
}
